.MouseOverOut
{
  box-shadow: 0 0 4px 4px #0c98cf;
}


[data-target="1"]
{
  box-shadow: 0 0 4px 4px #8DB87C;
}

[data-target="0"]
{
  box-shadow: 0 0 4px 4px #cb3737;
}

[data-target="2"]
{
  box-shadow: inset 0 0 4px 4px #048998;
}